.contactSectionHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343434;
}


.contactSectionHeaderH1 {
    font-weight: bold;
    text-transform: uppercase;
    color: #E4E4E4;
}

.formContainer {
    width: 50%;
    height: 90vh;
    background-color: white;
}

.contact-form {
    display: flex;

}