.contactSectionHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343434;
}


.contactSectionHeaderH1 {
    font-weight: bold;
    text-transform: uppercase;
    color: #E4E4E4;
}

.formContainer {
    width: 80%;
    /*height: 70vh;*/
    background-color:rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    left: 50%;
    top: 50%;
    position: absolute;
    padding: 20px;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
}



.contact-form {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;

}

.formInputs {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 23px;
    transition: 0.25s;
}

.formInputs:focus {
    width: 280px;
    border-color: #E4E4E4;
}

.inputButton {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.inputButton:hover {
    background: white;
    color: black;
    border-color: white;
}

@media only screen and (max-width: 600px) {
    .formInputs:focus {
        width: 220px;
        border-color: #E4E4E4;
    }
}



