.portfolioSectionHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66px;
    background-color: #343434;
}

.portfolioSectionHeaderH1 {
    font-weight: bold;
    text-transform: uppercase;
    color: #E4E4E4;
}

.seeMore {
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-color: transparent;
    text-align: center;
}